
:root{
    --primario: #F5EEA4;
    --analogo1: #DEBE8A;
    --analogo2: #FAB09B;
    --complementario1: #A1DE8A;
    --complementario2:#9EFFD8;
    --blanco: #FFFFFF;
    --negro: #000000; 
    --gris_claro:#E0E0E0;
    --gris_oscuro: #5E5E5E;

    --fuentePrincipal: 'Great Vibes', cursive;

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62,5%; /** Esto nos permite hacer que 1rem = 10 pixeles */ 
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Globales*/

  /*Cuerpo de la página*/
  body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
  }

/*Párrafos*/
  p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
  }

  /*Enlaces*/
  a {
    text-decoration: none;
  }

    /*Imágenes*/
    img {
        width: 100%;
    }

    .contenedor{
        max-width: 120rem;
        margin: 0 auto; /*Para centrar el contenido*/
        padding: 0 2rem;
    } 

    h1, h2, h3{
        text-align: center;
        color: var(--analogo2);
        font-family: var(--fuentePrincipal);
    }

    h1{ font-size: 4rem;}

    h2{font-size: 3.2rem;}

    h3{font-size: 2.1rem;}

    /*Header*/

    .header{
        display: flex;
        justify-content: center;
    }

    .header__logo{
        margin: 3rem 0;
    }

    /*Footer*/

    .footer {
        background-color: var(--analogo2);
        padding: .5rem 0;
        margin-top: 2rem;
        text-align: center;   
        align-content: center;
        display: flexbox;
        align-items: center;

       }

    .footer_texto{
        font-family: var(--fuentePrincipal);
        font-size: 2.2rem;
        display: flex;
        align-items: center;
        align-content: center;
    }

    /*Navegación*/
    .navegacion{
        background-color: var(--analogo2);
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        /* --> gap: 2rem; <-- Separación de las etiquetas de una forma nueva en CSS*/
    }

    .navegacion__enlace{
        font-family: var(--fuentePrincipal);
        color: var(--blanco);
        font-size: 3rem;
        margin-right: 2rem;
    }

    .navegacion__enlace:hover,
    .navegacion__enlace--activo{
        color: var(--primario);
    }

    /*Grid -- Para ver los productos en columnas de 3
               o de 2 si la pantalla es pequeña*/

    .grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;
    }

    @media(min-width: 768px){
      .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
       }
    }

/* Producto */
    .producto{
      background-color: var(--analogo2);
      padding: 1rem;
        }

    .producto__nombre{
      font-size: 2rem;
      margin: 1rem 0;
      text-align: center;
      line-height: 1.1rem;
    }

    .producto__precio{
      font-size: 1.8rem;
      color: var(--primario);
      margin: 1rem 0;
      text-align: center;
      line-height: 1.1rem;
    }

    /* Graficos (Imagenes) */

    .grafico{
      min-height: 30rem;
      background-repeat: none;
      background-size: cover;
        }

    .grafico--camisas{
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      background-image: url(../img/grafico1.jpg);
    }

    .grafico--node{
      grid-row: 8 / 9;
      grid-column: 1 / 3;
      background-image: url(../img/grafico2.jpg);
    }

    @media(min-width: 768px){
      .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
        background-image: url(../img/grafico2.jpg);
      }
  }
    
  .texto__nosotros{
    text-align: justify;
    font-size: 2rem;
    color: var(--analogo2);

  }

/* Imagen de la página "Sobre nosotros*/


.nosotros{
  display: grid;
  grid-template-rows: repeat(2, auto);  
}

@media(min-width:786px){
  .nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}


.nosotros__contenido--texto{
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
  text-align: center;
  line-height: 1.1rem;
  color: var(--negro);
}

.nosotros__imagen{
  grid-row: 1 / 2;
  width: 100%;
}

@media(min-width:786px){
  .nosotros__imagen{
    grid-column: 2 / 3;
  }
}

/* Bloques */

.bloques{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}

@media(min-width:768px){
  .bloques{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
  } 
}

.bloque{
  text-align: center;
}
.bloque__imagen{
  width: 100%;
}
.bloque__titulo{
  margin: 0;
}


/*Pagina del producto*/

.camisa__imagen{
  width: auto;
  display: block;
  margin: auto;
}

@media (min-width:768px){
  .camisa{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
  }
  .camisa__contenido--texto{
    margin: 0rem 20rem 0rem 0rem;
  }
  .formulario{
    margin: 0rem 20rem 0rem 0rem;
  }
}

.formulario{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 0rem 50rem 0rem rem;
}

.formulario__campo{
  border-color: var(--analogo2);
  border-width: .5rem;
  border-style: solid;
  /*Todo eso se puede resumir en: border: 1rem solid var(--analogo2) */
  background-color: transparent;
  color: var(--negro);
}

.formulario__submit{
  background-color: var(--analogo2);
  border: none;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  padding: 2rem;
  transition: background-color .3s ease;
  grid-column: 1 / 3;
}

.formulario__submit:hover{
  cursor: pointer;
  background-color: var(--gris_claro);
}